{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}{% trans "Email Verification" %}{% endblock head_title %}
{% block content %}
<div class="container my-5">
  <h1>{% trans "Enter Email Verification Code" %}</h1>
  <p>
    {% blocktranslate %}We’ve sent a code to <a href="mailto:{{ email }}">{{ email }}</a>. The code expires shortly, so please enter it soon.{% endblocktranslate %}
  </p>
  {% url 'account_email_verification_sent' as action_url %}
  <form method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    {{ redirect_field }}
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
      {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-link">{% trans "Cancel" %}</a>
      {% else %}
        <button type="submit" form="logout-from-stage" class="btn btn-link">{% trans "Cancel" %}</button>
      {% endif %}
    </div>
  </form>
  {% if not cancel_url %}
  <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
    <input type="hidden" name="next" value="{% url 'account_login' %}">
    {% csrf_token %}
  </form>
  {% endif %}
</div>
{% endblock content %}
