{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}
{% block content %}
<div class="container my-5">
  <h1>{% trans "Set Password" %}</h1>
  {% url 'account_set_password' as action_url %}
  <form method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ redirect_field }}
    {{ form.as_p }}
    <div class="mt-3">
      <button type="submit" name="action" class="btn btn-primary">{% trans "Set Password" %}</button>
    </div>
  </form>
</div>
{% endblock content %}
