{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
  {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4">{% trans "Sign Up" %}</h1>
  <p class="mb-4">
    {% trans "Already have an account?" %} 
    <a href="{{ login_url }}">{% trans "Sign in" %}</a>
  </p>
  {% url 'account_signup' as action_url %}
  <form method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    {{ redirect_field }}
    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
  </form>
  {% if PASSKEY_SIGNUP_ENABLED %}
    <hr>
    <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-primary">
      {% trans "Sign up using a passkey" %}
    </a>
  {% endif %}
  {% if SOCIALACCOUNT_ENABLED %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
  {% endif %}
</div>
{% endblock content %}
